* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url("imagen/billetes.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(240, 240, 240, 0.8);
    width: 100%;
}

#logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

h1 {
    color: #000000;
    font-size: 1.5em;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
    width: 90%;
    max-width: 400px;
}

label,
input,
button {
    display: block;
    margin-bottom: 10px;
    width: calc(100% - 22px); /* Ajuste para el padding y el borde */
    box-sizing: border-box;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease; /* Transición suave para el hover */
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

#fecha-actualizacion {
    font-size: 0.8em;
    color: grey;
    margin-top: 10px;
}

footer {
    background-color: rgba(240, 240, 240, 0.8);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p {
    margin: 0;
    color: #000;
    font-size: 0.9em;
}

/* Media Queries */
@media (max-width: 600px) {
    h1 {
        font-size: 1.2em;
    }

    .container {
        padding: 15px;
    }

    button {
        font-size: 0.9em;
    }
    footer {
        position: relative; /* Asegura que el footer se comporte correctamente en pantallas pequeñas */
    }
}